.main-wrapper {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
        circle 993px at 0.5% 50.5%,
        rgba(137, 171, 245, 0.37) 0%,
        rgba(245, 247, 252, 1) 100.2%
    );
}
.inner-container {
    width: 80%;
    max-width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 0 8px 32px 0 rgba(83, 89, 179, 0.37);
}

.left-cont {
    width: calc(100% - 70%);
    height: 100%;
    background-color: white;
}
.country {
    padding-top: 4rem !important;
}
.image {
    height: 27rem;
}
.temperature h1 {
    padding: 1rem;
    font-size: 4rem !important;
    font-family: "Balsamiq Sans";
}
.right-cont {
    width: calc(100% - 30%);
    background-color: #f1f3f5;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.date {
    font-weight: 500 !important;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5rem;
}
.flex-container > div {
    height: 12rem;
    margin-top: 2rem;
}
.climate {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
}
