/*
.main-container{
    margin-top:6rem;
    border-radius:2rem;
    text-align: center;
}

.innercontainer{
    box-shadow: 0 8px 32px 0 rgba(83, 89, 179, 0.37);
    border-radius: 2rem;
}
.value{
    font-size: 2rem;
}
.temp h1{
    font-size: 4rem;
    font-weight: 700;
} */