
.flex-cards{
    margin-top: 1.5rem;
}
.header{
    display: flex;
    justify-content: space-between;
    padding:1rem 0
}
.sys{
    /* border:2px solid red; */
    margin:auto
}
.wind-speed-details{
    width:100%;
    text-align: end;
    /* border:2px solid blue; */
    margin:auto
}

.climate-details{
    display: flex;
    /* border:2px solid red !important; */
    padding:1rem !important;
    height:9rem
}
