.flex-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 1 65%;
    background-color:#f7f7f7;
    padding:2rem
}
.header {
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: space-between;
}
.value{
    font-weight: 900;
}
.p-3 {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background-color: white;
    height:9.5rem;
}
.weather-desc-img{
    height: 7rem;
    width: 7rem;
}
.wind {
    text-align: end;
    padding-right: 1rem;
}
@media only screen and (max-width: 950px) {
    .flex-wrapper {
        flex: 0 1 100%;
        max-width: 600px;
        margin: 0;
        border-radius: 0;
        padding: 2rem 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .flex-wrapper {
        margin: 0;
        border-radius: 0;
    }
    .header{
        display: block;
        text-align: center;
    }
    .date-time{
        margin-bottom: 1rem;
    }
}
