.main-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 1 35%;
    padding: 2rem 0;
}

.CityAndCountry {
    font-size: 1.5rem;
    text-align: center;
}
.CityAndCountry h1 {
    font-size: 2.5rem;
    font-weight: 600;
}
.description {
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
}
.description h5 {
    font-size: 1.4rem;
}
.image {
    height: 18rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-icons {
    height: 17rem !important;
    width: 100% !important;
}
.temperature {
    font-size: 2.5rem;
    text-align: center;
}
.temperature h1 {
    font-size: 5rem;
    font-weight: 700;
}
.feels-like {
    font-size: 1.5rem;
    text-align: center;
}
@media only screen and (max-width: 950px) {
    .main-wrapper {
        flex: 0 1 100%;
        max-width: 600px;
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    .main-wrapper {
        margin: 0;
        border-radius: 0;
    }
}
