/* .temperature-details{
height:100%
}
.city-country-container{
    text-align: center;
    padding-top:2rem
}
.city-country-container h1{
    font-size: 2.5rem;
}
.description-container{
    text-align: center;
}
.weather-image-container{
    height:18rem
}
.temperature-container{
    text-align: center;
}
.temperature-container h1{
    font-size: 4rem;
}
.feels-like-container{
    text-align: center;
    padding-bottom: 2rem;
}
.weather-image-container{
    text-align: center;
}
@media only screen and (max-width:950px){
    .temperature-details{
        width:100%
    }
} */

.main--wrapper {
    height: auto;
    margin: 10% auto;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: linear-gradient(90deg, #fdcd3b 33%, #ffed4b 33%);
}

.cityAndCountry,.description,.image,.temperature,.feels_like{
    /* border:2px solid red !important; */
    text-align: center;
}
.cityAndCountry{
    padding:1rem
}
.image{
    height:17rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.temperature h1{
    font-size: 4rem !important;
}
@media screen and (max-width: 768px) {
    .main--wrapper {
        background: white;
    }
}
