/* @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto:wght@300&family=Rubik&family=Varela&family=Work+Sans:wght@300&display=swap'); */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Varela Round', sans-serif;
  font-weight: 900;
  /* overflow-x: hidden; */

}
body{
  background: radial-gradient(
        circle 993px at 0.5% 50.5%,
        rgba(137, 171, 245, 0.37) 0%,
        rgba(245, 247, 252, 1) 100.2%
    );
    font-family: 'Varela', sans-serif;

}
@media only screen and (max-width:765px){
  html{
    font-size: 95%;
  }
}
@media only screen and (max-width:552px){
  html{
    font-size: 80%;
  }
}